*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(43, 53, 83, 0.493);
    scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}
html{
    font-size: 62.24;
}

img{
    height: 27vh;
    width: 100%;
}
body{
    background-color: black;
}

.serach-header{
    background: black;
}

#form{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background: rgba(42, 43, 48, 0.493);
}

input{
    background: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
    font-weight: 600;
}

button {
    padding: 4px;
    width: 70px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    cursor: pointer;
}

.main_container {
    height: 100vh;
    overflow-x: auto; /* Enable horizontal scrollbar if needed */
   /* Hide vertical scrollbar */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding-top: 20px;
padding-bottom: 30px;
width: 100%;

}

.card{
    /* border: 2px solid red; */
    border: 2px solid;
    width: 17%;
    overflow: hidden;
    border-radius: 10px;
    height: 39vh;
    align-items: center;

}
.name{
    text-align: center;
    color: white;
    padding: 5px;
    background-color: black;
        
}

.card:hover{
    margin-top: -10px;
    box-shadow: 20px white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.small-img{
    height: 3vh;
    width: 1.2rem;
    border-radius: 15px;
}

.footer{
    /* border: 2px solid green; */
    padding: 12px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: black;
    margin-top: -10px;
    border-radius: 10px;
   
}
a{
    color: white;
    text-decoration: none;
    background: black;
    font-size: 12px;
}

p{
    color: brown;
    width: 100%;
    height: 20px;
}

